body {
    background-color: rgba(41, 41, 41, 1);
    color: #CCCCCC;
    font-family: sans-serif;
    font-size: 16px;
}

#filterControls {
    padding: 0.5rem;
    width:100%;
    text-align: center;
    position: fixed;
    background-color: rgba(22, 22, 22, 1);
    box-shadow: 0px 0px 0.1em #75ABFF;
}

#gallery {
    margin:0px auto;
    padding-top: 5rem;
    text-align: center;
}

@media screen and (max-width: 365px) {
    #gallery li {
	display: inline-block;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	vertical-align: top;
    }
}

@media screen and (min-width: 366px) and (max-width: 840px) {
    #gallery li {
	display: inline-block;
	margin: 1.5rem;
	vertical-align: top;
    }
}
@media screen and (min-width: 841px) {
    #gallery li {
	display: inline-block;
	margin: 3rem;
	vertical-align: top;
    }
}

#themeColor {
    display:inline;
}

.ui-selectmenu-button {
    vertical-align:middle;
}
.ui-widget {
    font-size: 14px;
}

.themeName { margin-bottom: 3px; text-align: left; }

.themeHomeLink { margin-top: 3px;  text-align: left; }

.downloads { float: right; }

img {
    box-shadow: 0px 0px 0.1em;
}

#loading { font-size: 2.5rem; text-align: center; padding-top:4.5rem;}

#socialMedia { 
    position: fixed;
    bottom: 0;
    left: 0;
 }

a:link { color:#0099FF; }
a:visited { color:#BB88EE; }
